{% raw %}
<script id="rss-feed-tmpl" type="text/x-handlebars-template">
<h5 class="text-primary" style="text-transform:uppercase;">
  Business Library News:
</h5>

<p class="text-muted">
<i class="glyphicon glyphicon-comment text-bizlib"> </i>
Our latest blog posts
</p>

{{#each data.feed}}
  {{#each channel.item}}
  <div data-timestamp="{{timestamp}}" class="feed">

    <a href="{{link}}" title="Continue reading at {{../channel.title}}"><strong>{{title}}</strong></a>

    {{{description}}}

    <p class="text-right">
      <a href="{{link}}" class="btn btn-sm btn-link" title="Continue reading at {{../channel.title}}"><strong>Continue &rarr;</strong></a>
    </p>

  </div>
  {{/each}}
{{/each}}
</script>
{% endraw %}