<div class="container">
  <div class="hidden-xs masthead">
    <!--
    <h1 class="text-center text-muted" style="padding-top:10px;">
      <i class="glyphicon glyphicon-briefcase bizlib-color"> </i>
      <span class="bizlib-typeface text-primary" style="">Spokane Business Library</span>
    </h1>
    -->
  </div>
</div>

<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">

    

    <div class="navbar-header" id="home">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="text-transform:uppercase;" href="./">
       	<i class="glyphicon glyphicon-briefcase text-bizlib"> </i> 
        <span class="bizlib-typeface hidden-xs">Spokane</span> <span class="bizlib-typeface">Business Library</span>
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        
        <li class=""><a href="#contact"><i class="text-bizlib glyphicon glyphicon-envelope"> </i> Contact Us</a></li>
        
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>