
<div class="row">

	<!-- PRIMARY -->
	<div class="col-sm-8">

		<p class="lead text-primary">
			Competitive <b>analysis</b>, technology <b>training</b>, and market <b>research</b>: tools and support  for the Spokane regional business community.
		</p>

		<p>
			<button type="button" class="btn btn-block btn-warning" data-toggle="modal" data-target="#access">
				<b>How do I access the Business Library?</b>
			</button>
		</p>

		<div class="row hidden-xs">
			<div class="col-sm-6">
				<p class="text-center">
					<a class=""
							href="#"><img class="img-responsive center-block" src="./assets/img/SPL-Logo-beta.png"></a>
				</p>
			</div><!-- /.col -->
			<div class="col-sm-6">
				<p class="text-center">
					<a class=""
							href="#"><img class="img-responsive center-block" src="./assets/img/SCLD-Logo.png"></a>
				</p>
			</div><!-- /.col -->
		</div><!-- /.row -->

		<!-- IBISWORLD -->
		<div class="panel panel-primary">
			<div class="panel-body">
				<p>
					<img class="img-responsive center-block" src="./assets/img/logos/ibisworld.jpg">
				</p>
				<p>
					IBISWorld’s industry research reports offer the very latest content on every U.S. industry.
				</p>
				<p>
					<button type="button" class="btn btn-block btn-lg btn-link"
							data-toggle="collapse"
							data-target="#about-ibisworld">
							<small class="glyphicon glyphicon-info-sign"> </small>
							More <span class="hidden-xs">about IBISWorld</span>
							<span class="caret"> </span>
					</button>
				</p>

				<div class="collapse" id="about-ibisworld">
					<p>
						Comprehensive, astute and easy to digest, IBISWorld’s industry research reports offer the very latest content on every U.S. industry.
					</p>
					<p>
						Each report consists of 30 to 40 pages of key statistics and analysis on market characteristics, operating conditions, current and forecast performance, major industry participants and more. 
					</p>
				</div>

				<h5 class="text-center text-muted" style="text-transform:uppercase;">
					Access this resource:
				</h5>
				
				<div class="row">
					<div class="col-sm-6">
						<p class="text-muted">
							<a class="btn btn-block btn-success"
									href="#"><strong class="hidden-sm">SPL</strong> City Users 
									<small class="glyphicon glyphicon-arrow-right"> </small></a>
						</p>
					</div><!-- /.col -->
					<div class="col-sm-6">
						<p class="text-muted">
							<a class="btn btn-block btn-info"
									href="#"><strong class="hidden-sm">SCLD</strong> County Users 
									<small class="glyphicon glyphicon-arrow-right"> </small></a>
						</p>
					</div><!-- /.col -->
				</div><!-- /.row -->

			</div><!-- /.panel-body -->
		</div><!-- /.panel -->

		<!-- DEMOGRAPHICS NOW -->
		<div class="panel panel-primary">
			<div class="panel-body">
				<p>
					<img class="img-responsive center-block" src="./assets/img/logos/demographicsnow.png">
				</p>
				<p>
					Demographics, consumer expenditures, traffic count maps, and more.
				</p>
				<p>
					<button type="button" class="btn btn-block btn-lg btn-link"
							data-toggle="collapse"
							data-target="#about-demnow">
							<small class="glyphicon glyphicon-info-sign"> </small>
							More <span class="hidden-xs">about Demographics Now</span>
							<span class="caret"> </span>
					</button>
				</p>

				<div class="collapse" id="about-demnow">
					<p>
						Demographics, consumer expenditures, traffic count maps, Simmons spending comparison data.
					</p>
					<p>
						Includes the Dun &amp; Bradstreet business database. 
					</p>
				</div>

				<h5 class="text-center text-muted" style="text-transform:uppercase;">
					Access this resource:
				</h5>
				
				<div class="row">
					<div class="col-sm-6">
						<p class="text-muted">
							<a class="btn btn-block btn-success"
									href="#"><strong class="hidden-sm">SPL</strong> City Users 
									<small class="glyphicon glyphicon-arrow-right"> </small></a>
						</p>
					</div><!-- /.col -->
					<div class="col-sm-6">
						<p class="text-muted">
							<a class="btn btn-block btn-info"
									href="#"><strong class="hidden-sm">SCLD</strong> County Users 
									<small class="glyphicon glyphicon-arrow-right"> </small></a>
						</p>
					</div><!-- /.col -->
				</div><!-- /.row -->

			</div><!-- /.panel-body -->
		</div><!-- /.panel -->

	</div><!-- /.col -->
	
	<!-- SIDEBAR -->
	<div class="col-sm-4">
		
		<h5 class="text-muted" style="text-transform:uppercase;" 
		id="librarian">New to the Library?</h5>
		<blockquote>
		<p class="text-sm">
			We can help.
			Schedule one-on-one training with a business librarian.
		</p>
		<p class="text-muted">
			<a class="text-info"
					href="#"><strong class="hidden-sm">SCLD</strong> County Users</a>
			<small class="glyphicon glyphicon-arrow-right"> </small>
		</p>
		<p class="text-muted">
			<a class="text-success"
					href="#"><strong class="hidden-sm">SPL</strong> City Users</a>
			<small class="glyphicon glyphicon-arrow-right"> </small>
		</p>
		</blockquote>
		<!--
		<h4 class="text-muted" style="text-transform:uppercase;" 
		id="blogs">Biz Lib Blogs</h4>
		<p>
		</p>
	-->
		<!--
		<div id="feeds" style="font-size:14px;"> 
    	<a class="feed sr-only" href="http://www.scld.org/category/business_and_careers/feed/">SCLD Business Blog</a> 
    	<a class="feed sr-only" href="http://blog.spokanelibrary.org/topic/business/feed/atom/">SPL Business Blog</a> 
    	<div class="alert alert-warning">
  	  	<b>Loading</b>...
	    </div>
		</div> 
		-->
		<div id="feed-scld" class="feeds"> </div>
		
		<div id="feed-spl" class="feeds"> </div>
		

		<!--
		<h4 class="text-center text-muted" style="text-transform:uppercase;" 
		id="studies">Case Studies</h4>
		<p>
		</p>
		
		<h4 class="text-center text-muted" style="text-transform:uppercase;" 
		id="contact">Contact Us</h4>
		<p>
		</p>
		-->

	</div><!-- /.col -->

</div><!-- /.row -->

<div class="modal fade" id="access">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-muted">Business Library Resources</h4>
      </div>
      <div class="modal-body">
        <p>
        	The Spokane Business Library is a collaboration between Spokane Public Library (<b class="text-success">SPL</b>) and the Spokane Country Library District (<b class="text-info">SCLD</b>).
        	To access these services you will need a valid library card at either SPL or SCLD. 
        </p>
        <p class="text-success">
        	<b>SPL</b> barcodes begin with <b>27413</b>.
        </p>
        <p class="text-info">
        	<b>SCLD</b> barcodes begin with <b>509</b>.
        </p>
        <p>
        	Once you have identified your library card, simply following the appropriate links labeled for City and County users.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


